.hero {
  position: absolute;
  top: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_title_box {
  display: flex;
  align-items: center;
  position: relative;
  width: 917px;
  height: 160px;
  margin-bottom: 32px;
}
.hero_title {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  z-index: 101;
}
.underline_1 {
  position: absolute;
  bottom: 0px;
  right: 250px;
  z-index: 100;
}
.desc {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  width: 723px;
  height: 80px;
  text-align: center;
  margin-bottom: 80px;
}
.start_btn {
  padding: 16px 40px;
  background: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
  box-shadow: 0px 9px 44px rgba(255, 214, 0, 0.19);
  border-radius: 16px;
  color: #10151A;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}